@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Pacifico&display=swap");

.nav-page {
  background: #000;
  padding: 25px 0;
  color: #fff;
}
.nav-page .container {
  display: flex;
  align-items: center;
}
.nav-page .container a {
  font-size: 48px;
  color: #fff;
}
.sub-nav-page {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.sub-nav-page::after {
  background: #fff;
}

.products {
  display: grid;
  grid-template-areas: "aside list-products";
  grid-template-columns: 260px;
}
.aside {
  display: flex;
  flex-direction: column;
  padding: 69px 0 100px;
  grid-area: aside;
}

.aside .menu {
  border-right: 1px solid #d4d4d4;
}

.aside .menu div {
  display: flex;
  flex-direction: column;
}

.aside div + div {
  margin-top: 50px;
}
.aside div h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #000;
  margin-bottom: 26px;
}
.aside div h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.79px;
  color: #070707;
  margin-bottom: 24px;
}
.aside div input {
  margin-right: 15px;
  margin-bottom: 14px;
}

/* COMPRAS */

.itens-compras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 49px 0 60px 60px;
}

.itens-compras .item {
  margin-top: 20px;
  max-height: 386px;
}

.name-compras {
  max-width: 240px;
  text-align: center;
  margin-top: 5px;
}

.compras-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.compras-btn {
  margin: 0;
  margin-top: 8px;
}
