.contato {
  padding: 60px 0 55px 0;
  .grid-contato {
    display: grid;
    grid-template-areas: "form redes-contato";
    grid-template-columns: 1fr 1fr;
    @include device(smartphone) {
      grid-template-areas:
        "form"
        "redes-contato";
      grid-template-columns: 1fr;
    }
  }
  .title-contato {
    @include type-font(24);
    text-align: center;
    padding-bottom: 56px;
  }

  form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    padding-right: 184px;
    border-right: 1px solid #d4d4d4;
    @include device(smartphone) {
      border: none;
      padding: 0;
    }
    label {
      @include type-font(18);
      margin-bottom: 10px;
    }

    input {
      margin-bottom: 28px;
      padding: 10px;
      border: 2px solid $color-secondary;
    }

    textarea {
      resize: none;
      padding: 10px;
      height: 190px;
      margin-bottom: 20px;
      border: 2px solid $color-secondary;
    }
  }

  .btn-form {
    background: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: 2px solid $color-secondary;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    &:hover {
      border: 3px solid;
    }
  }
}
.redes-contato {
  grid-area: redes-contato;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 169px;
  @include device(smartphone) {
    padding: 74px 0 0 0;
    justify-self: center;
  }
  h3 {
    @include type-font(24);
    color: $color-terciary;
    padding-bottom: 16px;
  }

  .nossos-contatos {
    margin-bottom: 54px;
    ul {
      list-style: inside;
      @include type-font(24);
      color: #3a3939;
      li + li {
        margin-top: 9px;
      }
    }
  }
  .redes-sociais-contato ul {
    display: flex;
    li + li {
      margin-left: 19px;
    }
  }
}
