@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Pacifico&display=swap");
body {
  font-family: "Inter", sans-serif;
  background: #eeeeee;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #1b1b1b;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding: 11.5px 0;
  background: $color-primary;
  position: -webkit-sticky; /* Necessário para funcionar no Safari */
  position: sticky;
  top: 0;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .navbar-item {
    display: flex;
    align-items: center;
    li a {
      color: #1b1b1b;
    }
    li + li {
      margin-left: 16px;
    }
    li:last-child {
      margin-left: 26px;
    }
  }
}

.navbar-search-bg {
  background: $color-secondary;
  padding: 28px 0;
  .navbar-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .search {
    display: flex;
    input {
      padding: 7px 9px;
      border: 0;
      outline: none;
      font-size: 14px;
      width: 400px;
    }
    a {
      padding: 7px 10px;
      background: $color-primary;
      margin: 0;
      border: 0;
      color: #d4d4d4;
      &:hover {
        background: $color-secondary;
        color: $color-primary;
      }
    }
  }

  .nav {
    display: flex;
    li a {
      @include type-font(18);
      color: $color-primary;
    }
    li + li {
      margin-left: 29px;
    }
  }
}

.nav-page {
  background: #000;
  padding: 25px 0;
  color: $color-primary;
  .container {
    display: flex;
    align-items: center;
    a {
      font-size: 48px;
      color: $color-primary;
    }
  }

  .sub-nav-page {
    color: $color-primary;
    text-align: center;
    margin: 0 auto;
    &::after {
      background: $color-primary;
    }
  }
}

.subtitulo {
  text-align: center;
  font-size: 1.77em;
  color: #1a1a1a;
  &::after {
    content: "";
    display: block;
    width: 72px;
    height: 2px;
    background: #1a1a1a;
    margin: 12px auto;
  }
}

.item-name {
  @include type-font(18);
  line-height: 20px;
  color: #1a1a1a;
  padding-bottom: 18px;
  text-align: center;
  max-width: 330px;
  align-self: stretch;
  height: 34px;
}

.value-price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  color: #797979;
  text-decoration: line-through;
}

.price-promo {
  font-weight: bold;
  font-size: 20px;
}

.btn-comprar {
  background: $color-primary;
  color: #1a1a1a;
  @include type-font(18);
  padding: 8px 8px;
  border: 1px solid $color-secondary;
  &:hover {
    background: #070707;
    color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.btn-cart {
  background: #070707;
  color: $color-primary;
  @include type-font(18);
  padding: 8px 8px;
  margin-left: 35px;
  border: 1px solid $color-secondary;
  &:hover {
    background: $color-primary;
    color: #1a1a1a;
  }
}
