@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Pacifico&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: #eeeeee;
}
.logo {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #1b1b1b;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding: 11.5px 0;
  background: $color-primary;
  position: -webkit-sticky; /* Necessário para funcionar no Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-item li a {
  color: #1b1b1b;
}
.navbar-item li + li {
  margin-left: 16px;
}

.navbar-item li:last-child {
  margin-left: 26px;
}

.navbar-search-bg {
  background: $color-secondary;
  padding: 28px 0;
}

.navbar-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  display: flex;
}
.search input {
  padding: 7px 9px;
  border: 0;
  outline: none;
  font-size: 14px;
  width: 400px;
}

.search a {
  padding: 7px 10px;
  background: $color-primary;
  margin: 0;
  border: 0;
  color: #d4d4d4;
}

.search a:hover {
  background: $color-secondary;
  color: $color-primary;
}

.navbar-search .nav {
  display: flex;
}

.nav li a {
  @include type-font(18);
  color: $color-primary;
}

.nav li + li {
  margin-left: 29px;
}

.introducao {
  background: url("../img/bg-introducao.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  text-align: center;
}

.text-introducao {
  padding-top: 37px;
}
.text-introducao h1 {
  color: $color-primary;
  font-size: 72px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0.02em;
  margin-bottom: 13px;
}

.text-gradient-1 {
  background-image: linear-gradient(
      93.02deg,
      #1224c8 -29.16%,
      rgba(255, 255, 255, 0) 92.9%
    ),
    linear-gradient(0deg, #2fb7e2, #2fb7e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(
      91.8deg,
      #f1a4f2 3.5%,
      rgba(255, 255, 255, 0) 81.73%
    ),
    linear-gradient(0deg, #c819d8, #c819d8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-3 {
  background: linear-gradient(
      91.54deg,
      #22eda4 4.68%,
      rgba(255, 255, 255, 0) 117.13%
    ),
    linear-gradient(0deg, #63e6c6, #63e6c6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-introducao h1:nth-child(3) {
  padding-bottom: 60px;
}
.btn-intro {
  padding: 15px 40px;
  @include type-font(18);
  color: $color-primary;
  background: $color-terciary;
  text-transform: uppercase;
}

/* .btn-intro:hover {
  background: none;
  border: 1px solid $color-terciary;
  transition: 0.5s;
} */

/* OFERTAS */

.subtitulo {
  text-align: center;
  font-size: 1.77em;
  color: #1a1a1a;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background: #1a1a1a;
  margin: 12px auto;
}

.itens-oferta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 81px;
}

.ofertas {
  padding-top: 63px;
}

.oferta-price {
  margin-top: 21px;
}

.item-name {
  @include type-font(18);
  color: #1a1a1a;
  padding-bottom: 18px;
  text-align: center;
  max-width: 330px;
  align-self: stretch;
}

.value-price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  color: #797979;
  text-decoration: line-through;
}

.price-promo {
  font-weight: bold;
  font-size: 20px;
}

.oferta-buttons {
  margin-top: 20px;
}
.btn-comprar {
  background: $color-primary;
  color: #1a1a1a;
  @include type-font(18);
  padding: 8px 8px;
  border: 1px solid $color-secondary;
}

.btn-comprar:hover {
  background: #070707;
  color: $color-primary;
  border: 1px solid $color-primary;
}

.btn-cart {
  background: #070707;
  color: $color-primary;
  @include type-font(18);
  padding: 8px 8px;
  margin-left: 35px;
  border: 1px solid $color-secondary;
}

.btn-cart:hover {
  background: $color-primary;
  color: #1a1a1a;
}

.produtos {
  background: $color-secondary;
  margin-top: 115px;
}

.sub-produtos {
  color: $color-primary;
  padding-top: 88px;
  padding-bottom: 91px;
}

.sub-produtos::after {
  background: $color-primary;
}

.itens-produto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.itens-produto a {
  display: block;
  margin-bottom: 47px;
  padding: 9px;
  background: $color-primary;
  color: $color-secondary;
  text-align: center;
  @include type-font(18);
  text-transform: uppercase;
}

.nossa-meta {
  position: relative;
  padding: 89px 0 113px 0;
}
.nossa-meta::after {
  content: "";
  display: block;
  width: 372px;
  height: 271px;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 289px;
  left: 381px;
  z-index: -1;
}

.logo-metas {
  font-size: 48px;
}
.metas {
  display: grid;
  grid-template-areas: "column-1 column-2 column-3";
  grid-template-columns: 1fr 1fr 1fr;
}
.column-1 {
  grid-area: column-1;
  padding-top: 182px;
  padding-left: 127px;
}

.column-2 {
  grid-area: column-2;
  padding: 211px 146px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-metas {
  margin-bottom: 103px;
}

.btn-metas {
  padding: 10px 40px;
  background: $color-terciary;
  color: $color-primary;
  @include type-font(18);
  z-index: 1;
  text-transform: uppercase;
}

.column-3 {
  grid-area: column-3;
}

.column-3 .card-metas:first-child {
  margin-top: 81px;
  margin-bottom: 113px;
}
.card-metas {
  max-width: 220px;
}

.card-metas h3 {
  @include type-font(24);
  color: #070707;
  margin-bottom: 21px;
  text-align: center;
}

.info-footer {
  background: $color-secondary;
  padding: 40px 0;
  color: $color-primary;
}

.info-footer h3 {
  @include type-font(18);
  margin-bottom: 16px;
}

.info-footer .container {
  display: flex;
  justify-content: space-evenly;
}

.logo-info-footer {
  font-size: 48px;
  color: $color-primary;
  align-self: center;
}

.contact ul {
  list-style: inside;
  padding-left: 13px;
}

.contact ul li a {
  color: $color-primary;
}

.contact li + li {
  margin-top: 9px;
}

.redes-sociais ul {
  display: flex;
}

.redes-sociais ul li + li {
  margin-left: 19px;
}

.redes-sociais li {
  filter: grayscale(100%);
  transition: all 0.3s;
}

.redes-sociais li:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  padding: 10px;
  align-items: flex-end;
  justify-content: center;
}

.footer span {
  color: #797979;
  @include type-font(18);
  margin-left: 9px;
}
