.introducao {
  background: url("../img/bg-introducao.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  text-align: center;

  .text-introducao {
    padding-top: 37px;
  }

  .text-introducao h1 {
    color: $color-primary;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.02em;
    margin-bottom: 13px;
  }

  .text-gradient-1 {
    background-image: linear-gradient(
        93.02deg,
        #1224c8 -29.16%,
        rgba(255, 255, 255, 0) 92.9%
      ),
      linear-gradient(0deg, #2fb7e2, #2fb7e2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-2 {
    background: linear-gradient(
        91.8deg,
        #f1a4f2 3.5%,
        rgba(255, 255, 255, 0) 81.73%
      ),
      linear-gradient(0deg, #c819d8, #c819d8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-3 {
    background: linear-gradient(
        91.54deg,
        #22eda4 4.68%,
        rgba(255, 255, 255, 0) 117.13%
      ),
      linear-gradient(0deg, #63e6c6, #63e6c6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-introducao h1:nth-child(3) {
    padding-bottom: 60px;
  }
  .btn-intro {
    padding: 15px 40px;
    @include type-font(18);
    color: $color-primary;
    background: $color-terciary;
    text-transform: uppercase;
  }
}

/* .btn-intro:hover {
  background: none;
  border: 1px solid $color-terciary;
  transition: 0.5s;
} */

/* OFERTAS */
.ofertas {
  padding-top: 63px;
  .itens-oferta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 81px;
  }
  .oferta-price {
    margin-top: 21px;
  }

  .oferta-buttons {
    margin-top: 20px;
  }
}

.produtos {
  background: $color-secondary;
  margin-top: 115px;
  .sub-produtos {
    color: $color-primary;
    padding-top: 88px;
    padding-bottom: 91px;
    &::after {
      background: $color-primary;
    }
  }
  .itens-produto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
    a {
      display: block;
      margin-bottom: 47px;
      padding: 9px;
      background: $color-primary;
      color: $color-secondary;
      text-align: center;
      @include type-font(18);
      text-transform: uppercase;
    }
  }
}

.nossa-meta {
  position: relative;
  padding: 89px 0 113px 0;
  &::after {
    content: "";
    display: block;
    width: 372px;
    height: 271px;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 289px;
    left: 381px;
    z-index: -1;
  }

  .logo-metas {
    font-size: 48px;
  }

  .metas {
    display: grid;
    grid-template-areas: "column-1 column-2 column-3";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .column-1 {
    grid-area: column-1;
    padding-top: 182px;
    padding-left: 127px;
  }

  .column-2 {
    grid-area: column-2;
    padding: 211px 146px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-metas {
    margin-bottom: 103px;
  }

  .btn-metas {
    padding: 10px 40px;
    background: $color-terciary;
    color: $color-primary;
    @include type-font(18);
    z-index: 1;
    text-transform: uppercase;
  }

  .column-3 {
    grid-area: column-3;
  }

  .column-3 .card-metas:first-child {
    margin-top: 81px;
    margin-bottom: 113px;
  }
  .card-metas {
    max-width: 220px;
  }

  .card-metas h3 {
    @include type-font(24);
    color: #070707;
    margin-bottom: 21px;
    text-align: center;
  }
}

.info-footer {
  background: $color-secondary;
  padding: 40px 0;
  color: $color-primary;
  h3 {
    @include type-font(18);
    margin-bottom: 16px;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
  }
  .logo-info-footer {
    font-size: 48px;
    color: $color-primary;
    align-self: center;
  }

  .contact ul {
    list-style: inside;
    padding-left: 13px;
    li a {
      color: $color-primary;
    }

    li + li {
      margin-top: 9px;
    }
  }
}

.redes-sociais ul {
  display: flex;
  li {
    filter: grayscale(100%);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  li + li {
    margin-left: 19px;
  }
}

.footer {
  display: flex;
  padding: 10px;
  align-items: flex-end;
  justify-content: center;
  span {
    color: #797979;
    @include type-font(18);
    margin-left: 9px;
  }
}
