.introducao {
  background: url("../img/bg-introducao.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  text-align: center;
  @include device(smartphone) {
    height: 390px;
  }
  .text-introducao {
    padding-top: 37px;
  }

  .text-introducao h1 {
    color: $color-primary;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0.02em;
    margin-bottom: 13px;
    @include device(smartphone) {
      @include type-font(32);
      font-weight: normal;
    }
  }

  .text-gradient-1 {
    background-image: linear-gradient(
        93.02deg,
        #1224c8 -29.16%,
        rgba(255, 255, 255, 0) 92.9%
      ),
      linear-gradient(0deg, #2fb7e2, #2fb7e2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-2 {
    background: linear-gradient(
        91.8deg,
        #f1a4f2 3.5%,
        rgba(255, 255, 255, 0) 81.73%
      ),
      linear-gradient(0deg, #c819d8, #c819d8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-3 {
    background: linear-gradient(
        91.54deg,
        #22eda4 4.68%,
        rgba(255, 255, 255, 0) 117.13%
      ),
      linear-gradient(0deg, #63e6c6, #63e6c6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-introducao h1:nth-child(3) {
    padding-bottom: 60px;
  }
  .btn-intro {
    padding: 15px 40px;
    @include type-font(18);
    color: $color-primary;
    background: $color-terciary;
    text-transform: uppercase;
    @include device(smartphone) {
      padding: 13px 8px;
      font-size: 1em;
    }
  }
}

/* .btn-intro:hover {
  background: none;
  border: 1px solid $color-terciary;
  transition: 0.5s;
} */

/* OFERTAS */
.ofertas {
  padding-top: 63px;
  margin: 0 auto;
  .itens-oferta {
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 81px;
    margin: 10px;
    @include device(smartphone) {
      justify-content: center;
    }
  }
  .img-item {
    position: relative;
  }
  .btn-favorito {
    position: absolute;
    top: 10px;
    left: 280px;
  }
  .oferta-price {
    margin-top: 21px;
  }

  .oferta-buttons {
    margin-top: 20px;
  }
}

.produtos {
  background: $color-secondary;
  margin-top: 115px;
  .sub-produtos {
    color: $color-primary;
    padding-top: 88px;
    padding-bottom: 91px;
    &::after {
      background: $color-primary;
    }
  }
  .itens-produto {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    padding-bottom: 40px;
    justify-content: center;
    a {
      display: block;
      margin-bottom: 47px;
      padding: 9px;
      background: $color-primary;
      color: $color-secondary;
      text-align: center;
      @include type-font(18);
      text-transform: uppercase;
    }
  }
}

.nossa-meta {
  position: relative;
  padding: 89px 0 113px 0;
  .sub-metas {
    @include device(smartphone) {
      &::before {
        content: "Elegância";
        font-family: Inter;
        font-size: 1em;
        height: 35px;
        background: linear-gradient(
            91.8deg,
            #f1a4f2 3.5%,
            rgba(255, 255, 255, 0) 81.73%
          ),
          linear-gradient(0deg, #c819d8, #c819d8);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 205px;
        left: 244px;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    width: 372px;
    height: 271px;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 289px;
    left: 381px;
    z-index: -1;
    @include device(smartphone) {
      display: none;
    }

    @include device(tablet) {
      display: none;
    }
  }

  .logo-metas {
    font-size: 48px;
    @include device(smartphone) {
      &::before {
        content: "Estilo";
        font-family: Inter;
        font-size: 1em;
        height: 35px;
        background: linear-gradient(
            91.54deg,
            #22eda4 4.68%,
            rgba(255, 255, 255, 0) 117.13%
          ),
          linear-gradient(0deg, #63e6c6, #63e6c6);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 205px;
        left: 42px;
      }
    }
  }

  .metas {
    display: grid;
    grid-template-areas: "column-1 column-2 column-3";
    grid-template-columns: 1fr 1fr 1fr;

    @include device(tablet) {
      grid-template-areas:
        "column-2 column-2"
        "column-3 column-1";
      grid-template-columns: 3fr 1fr;
    }
    @include device(smartphone) {
      grid-template-areas: "column-2" "column-3" "column-1";
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .column-1 {
    grid-area: column-1;
    padding-top: 182px;
    padding-left: 127px;
    @include device(smartphone) {
      padding: 0;
    }

    @include device(tablet) {
      padding: 0;

      margin-left: auto;
    }
  }

  .column-2 {
    grid-area: column-2;
    padding: 211px 146px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include device(smartphone) {
      padding: 0;
      a {
        display: none;
      }
    }

    @include device(tablet) {
      padding: 0;
      a {
        display: none;
      }
    }
  }
  .logo-metas {
    margin-bottom: 103px;

    @include device(smartphone) {
      text-align: center;
      margin-bottom: 177px;
      margin-top: 151px;
      @include type-font(32);

      &::after {
        content: "";
        display: block;
        width: 249px;
        height: 229px;
        background: url("../img/linha-mobile.svg") no-repeat center;
        position: absolute;
        top: 252px;
        left: 72px;
      }
    }
  }

  .btn-metas {
    padding: 10px 40px;
    background: $color-terciary;
    color: $color-primary;
    @include type-font(18);
    z-index: 1;
    text-transform: uppercase;
  }

  .column-3 {
    grid-area: column-3;
    @include device(smartphone) {
      &::after {
        content: "Qualidade";
        font-family: Inter;
        @include type-font(32, 16);
        height: 35px;
        background: linear-gradient(
            93.02deg,
            #1224c8 -29.16%,
            rgba(255, 255, 255, 0) 92.9%
          ),
          linear-gradient(0deg, #2fb7e2, #2fb7e2);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 501px;
        left: 119px;
      }
    }

    @include device(tablet) {
      display: flex;
      margin: 0;

      .card-metas:last-child {
        margin: 0 auto;
      }
    }
  }

  .column-3 .card-metas:first-child {
    margin-top: 81px;
    margin-bottom: 113px;

    @include device(smartphone) {
      margin: 0;
      padding-top: 105px;
    }

    @include device(tablet) {
      margin: 0;
    }
  }
  .card-metas {
    max-width: 220px;
    @include device(smartphone) {
      max-width: 300px;
      text-align: center;
      &:nth-child(2) {
        padding: 43px 0 43px 0;
      }
    }
  }

  .card-metas h3 {
    @include type-font(24);
    color: #070707;
    margin-bottom: 21px;
    text-align: center;
  }
}
