.products {
  display: grid;
  grid-template-areas: "aside list-products";
  grid-template-columns: 260px;
  .aside {
    display: flex;
    flex-direction: column;
    padding: 69px 0 100px;
    grid-area: aside;
    .menu {
      border-right: 1px solid #d4d4d4;
      div {
        display: flex;
        flex-direction: column;
      }
      div + div {
        margin-top: 50px;
      }
      h3 {
        @include type-font(24);
        color: $color-secondary;
        margin-bottom: 26px;
      }
      h4 {
        @include type-font(18);
        font-weight: 500;
        line-height: 21.79px;
        color: #070707;
        margin-bottom: 24px;
      }

      input {
        margin-right: 15px;
        margin-bottom: 14px;
      }
    }
  }
}

/* COMPRAS */
.list-products {
  .itens-compras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 49px 0 60px 60px;
    .item {
      margin-top: 20px;
      .compras-price {
        .name-compras {
          max-width: 240px;
          text-align: center;
          margin-top: 5px;
        }
        .compras-buttons {
          display: flex;
          flex-direction: column;
          text-align: center;
          .compras-btn {
            margin: 0;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
