// Breakpoints
$desktop: 1240px;
$tablet: 768px;
$smartphone: 390px;
// cores
$color-primary: #08307c;
$color-secondary: #fa8349;
$color-terciary: #707070;

// Calculo em

@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto + em;
}

@mixin type-font($size, $contexto: 16) {
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  } @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  } @else if $size == 32 {
    font-size: em(32, 16);
    line-height: em(30, 32);
  } @else if $size == 72 {
    font-size: em(72);
    font-weight: 600;
    line-height: em(30, 72);
  }
}

@mixin device($size) {
  @if $size == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $size == tablet {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
      @content;
    }
  } @else if $size == smartphone {
    @media screen and (max-width: ($tablet - 1)) {
      @content;
    }
  }
}
